/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
deploy.php
hosts.yml
.env.prod
composer.lock
.vscode/
/nbproject
storage/laravels.json
storage/laravels.pid
storage/laravels.conf
_ide_helper.php
*.zip
/public/uploads/*
/public/home/js/public/*
/image/*
/images/*
*.log
*.jpg
*.jpeg
*.png
*.gif
*.dat
/cache/*

