<include file="Public/min-header" />
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content ">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-list"></i> 会员等级</h3>
                </div>
                <div class="panel-body ">
                    <!--表单数据-->
                    <form method="post" id="handleposition" action="{:U('Admin/User/levelHandle')}">
                        <!--通用信息-->
                        <div class="tab-content col-md-10">
                            <div class="tab-pane active" id="tab_tongyong">
                                <table class="table table-bordered">
                                    <tbody>
                                    <!--<tr>-->
                                        <!--<td class="col-sm-2">会员等级：</td>-->
                                        <!--<td class="col-sm-4">-->
                                            <!--<input type="text" class="form-control" name="level" value="{$info.level}" >-->
                                        <!--</td>-->
                                        <!--<td class="col-sm-4">-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <tr>
                                        <td class="col-sm-2">等级名称：</td>
                                        <td class="col-sm-4">
                                            <input type="text" class="form-control" name="level_name" value="{$info.level_name}" >
                                            <span id="err_attr_name" style="color:#F00; display:none;"></span>
                                        </td>
                                        <td class="col-sm-4">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            拼团次数
                                        </td>
                                        <td >
                                            <input type="text" class="form-control" name="pt_num" value="{$info.pt_num}">
                                        </td>
                                        <td class="col-sm-4"></td>
                                    </tr>
                                    <if condition="$info[level] gt 1">
                                        <tr>
                                            <td>金额：</td>
                                            <td >
                                                <input type="text" class="form-control" name="money" value="{$info.money}">
                                            </td>
                                            <td class="col-sm-4">设置该等级实际付款金额</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                周期
                                            </td>
                                            <td >
                                                <input type="text" class="form-control" name="days" value="{$info.days}">
                                            </td>
                                            <td class="col-sm-4"></td>
                                        </tr>
                                    </if>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td><input type="hidden" name="act" value="{$act}">
                                            <input type="hidden" name="level_id" value="{$info.level_id}">
                                        </td>
                                        <td class="col-sm-4"><input class="btn btn-primary" type="buuton" onclick="adsubmit()" value="保存"></td>
                                        <td class="text-left"></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function adsubmit(){
        $('#handleposition').submit();
    }
</script>
</body>
</html>